<div class="grid h-screen w-full grid-rows-7">
  <div class="row-span-3 grid h-full w-full grid-cols-8 pl-4">
    <!-- Contenedor que ocupa las primeras 6 columnas -->
    <div class="col-span-6 flex items-center">
      <!-- Aquí puedes poner contenido si es necesario -->
    </div>

    <!-- Contenedor que ocupa las últimas 2 columnas, dividido en 8 columnas -->
    <div class="col-span-2 grid h-full grid-cols-8 space-x-0.5">
      <div class="absolute top-0 right-0 pt-1">
        <img src="assets/logo.png" alt="logo" class="w-[80px] h-[60px]">
      </div>
      <div class="flex rotate-[270deg] whitespace-nowrap pr-[250px] text-lg font-bold">Admin</div>
      <div class="flex rotate-[270deg] whitespace-nowrap break-words pr-[250px] text-lg font-bold">Crear Alarmas</div>
      <div class="flex rotate-[270deg] whitespace-nowrap break-words pr-[250px] text-lg font-bold">Modificar Alarmas</div>
      <div class="flex rotate-[270deg] whitespace-nowrap break-words pr-[250px] text-lg font-bold">Borrar Alarmas</div>
      <div class="flex rotate-[270deg] whitespace-nowrap pr-[250px] text-lg font-bold">Lector</div>
      <div class="flex rotate-[270deg] whitespace-nowrap pr-[250px] text-lg font-bold">Invitado</div>
      <div class="flex rotate-[270deg] whitespace-nowrap break-words pr-[250px] text-lg font-bold">Recompensas</div>
      <div class="flex rotate-[270deg] whitespace-nowrap break-words pr-[250px] text-lg font-bold">Historial</div>
    </div>
  </div>

  <!-- Contenedor para las últimas 4 filas, dividido en 5 partes con descripción -->
  <div class="row-span-4 grid grid-rows-5">
    <!-- Primera fila: Camilo Castro -->
    <div class="flex items-center justify-between border-b border-gray-300 pl-4 pr-4">
      <div class="flex items-center">
        <img src="assets/u1.png" alt="Camilo" class="mr-4 h-16 w-16" />
        <div class="flex flex-col space-y-1">
          <p class="text-sm font-bold whitespace-nowrap break-words">Camilo Castro</p>
          <p class="text-sm whitespace-nowrap break-words">Quiero Despertar a las 7 am</p>
        </div>
      </div>
      <div class="flex w-full justify-end space-x-5">
        <input type="checkbox" checked class="checked-color" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" class="ml-auto" />
        <!-- Icono de Ver permisos usuario -->
        <div class="relative group">
          <span class="material-symbols-outlined text-gray-500 cursor-pointer">more_vert</span>
          <div class="absolute right-0 mt-2 w-48 bg-gray-800 text-white text-sm rounded-md shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 p-2">
            Ver permisos usuario
          </div>
        </div>
      </div>
    </div>

    <!-- Segunda fila: Hernan Martinez -->
    <div class="flex items-center justify-between border-b border-gray-300 pl-4 pr-4">
      <div class="flex items-center">
        <img src="assets/u2.png" alt="Hernan" class="mr-4 h-16 w-16" />
        <div class="flex flex-col space-y-1">
          <p class="text-sm font-bold whitespace-nowrap break-words">Hernan Martinez</p>
          <p class="text-sm whitespace-nowrap break-words">Quiero ser más productivo en el día</p>
        </div>
      </div>
      <div class="flex w-full justify-end space-x-5">
        <input type="checkbox" />
        <input type="checkbox" checked class="checked-color" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" checked class="checked-color" />
        <input type="checkbox" class="ml-auto" />
        <!-- Icono de Ver permisos usuario -->
        <div class="relative group">
          <span class="material-symbols-outlined text-gray-500 cursor-pointer">more_vert</span>
          <div class="absolute right-0 mt-2 w-48 bg-gray-800 text-white text-sm rounded-md shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 p-2">
            Ver permisos usuario
          </div>
        </div>
      </div>
    </div>

    <!-- Tercera fila: Luis Hernandez -->
    <div class="flex items-center justify-between border-b border-gray-300 pl-4 pr-4">
      <div class="flex items-center">
        <img src="assets/u3.png" alt="Luis" class="mr-4 h-16 w-16" />
        <div class="flex flex-col space-y-1">
          <p class="text-sm font-bold whitespace-nowrap break-words">Luis Hernandez</p>
          <p class="text-sm whitespace-nowrap break-words">Quiero leer en las mañanas</p>
        </div>
      </div>
      <div class="flex w-full justify-end space-x-5">
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" checked class="checked-color" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" class="ml-auto" />
        <!-- Icono de Ver permisos usuario -->
        <div class="relative group">
          <span class="material-symbols-outlined text-gray-500 cursor-pointer">more_vert</span>
          <div class="absolute right-0 mt-2 w-48 bg-gray-800 text-white text-sm rounded-md shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 p-2">
            Ver permisos usuario
          </div>
        </div>
      </div>
    </div>

    <!-- Cuarta fila: Daniela Hurtado -->
    <div class="flex items-center justify-between border-b border-gray-300 pl-4 pr-4">
      <div class="flex items-center">
        <img src="assets/u4.png" alt="Daniela" class="mr-4 h-16 w-16" />
        <div class="flex flex-col space-y-1">
          <p class="text-sm font-bold whitespace-nowrap break-words">Daniela Hurtado</p>
          <p class="text-sm whitespace-nowrap break-words">Quiero mejorar mi rutina</p>
        </div>
      </div>
      <div class="flex w-full justify-end space-x-5">
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" checked class="checked-color" />
        <input type="checkbox" />
        <input type="checkbox" checked class="checked-color" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" checked class="checked-color" class="ml-auto" />
        <!-- Icono de Ver permisos usuario -->
        <div class="relative group">
          <span class="material-symbols-outlined text-gray-500 cursor-pointer">more_vert</span>
          <div class="absolute right-0 mt-2 w-48 bg-gray-800 text-white text-sm rounded-md shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 p-2">
            Ver permisos usuario
          </div>
        </div>
      </div>
    </div>

    <!-- Quinta fila: Sonia Sanchez -->
    <div class="flex items-center justify-between pl-4 pr-4">
      <div class="flex items-center">
        <img src="assets/u5.png" alt="Sonia" class="mr-4 h-16 w-16" />
        <div class="flex flex-col space-y-1">
          <p class="text-sm font-bold whitespace-nowrap break-words">Sonia Sanchez</p>
          <p class="text-sm whitespace-nowrap break-words">Quiero despertar para hacer ejercicio temprano</p>
        </div>
      </div>
      <div class="flex w-full justify-end space-x-5">
        <input type="checkbox" checked class="checked-color" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" class="ml-auto" />
        <!-- Icono de Ver permisos usuario -->
        <div class="relative group">
          <span class="material-symbols-outlined text-gray-500 cursor-pointer">more_vert</span>
          <div class="absolute right-0 mt-2 w-48 bg-gray-800 text-white text-sm rounded-md shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 p-2">
            Ver permisos usuario
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
