<!-- Contenedor de 2 columnas -->
<div class="grid grid-rows-12 w-full h-full bg-[#ebedfc] p-4">
  <!-- Fila 1 - Administración -->
  <div class="flex row-span-1 items-center text-sm font-normal pl-6 text-slate-600">Administración</div>

  <!-- Fila 2 - Usuarios -->
  <div class="flex row-span-1 items-center text-sm pl-6 space-x-2 rounded-full cursor-pointer hover:bg-[#e1e2e9]" [ngClass]="{
        'text-slate-900 font-semibold bg-[#d7e3f7]': selectedItem === 'usuarios',
        'text-slate-600 font-normal': selectedItem !== 'usuarios'
      }" (click)="selectItem('usuarios')" routerLink="./users">
    <span class="material-symbols-outlined">person</span>
    <div>Usuarios</div>
    <div>24</div>
  </div>

  <!-- Fila 3 - Seguridad -->
  <div class="flex row-span-1 items-center text-sm pl-6 space-x-2 rounded-full cursor-pointer hover:bg-[#e1e2e9]" [ngClass]="{
        'text-slate-900 font-semibold bg-[#d7e3f7]': selectedItem === 'seguridad',
        'text-slate-600 font-normal': selectedItem !== 'seguridad'
      }" (click)="selectItem('seguridad')">
    <span class="material-symbols-outlined">lock</span>
    <div>Seguridad</div>
  </div>

  <!-- Fila 5 - Alarmas -->
  <div class="flex row-span-1 items-center text-sm font-normal pl-6 text-slate-600 border-t border-slate-300">
    Alarmas
  </div>

  <!-- Fila 7 - Recompensas -->
  <div class="flex row-span-1 items-center text-sm pl-6 space-x-2 rounded-full cursor-pointer hover:bg-[#e1e2e9]" [ngClass]="{
        'text-slate-900 font-semibold bg-[#d7e3f7]': selectedItem === 'recompensas',
        'text-slate-600 font-normal': selectedItem !== 'recompensas'
      }" (click)="selectItem('recompensas')" routerLink="./rewards">
    <span class="material-symbols-outlined">history</span>
    <div>Recompensas</div>
  </div>

  <!-- Fila 6 - Historial -->
  <div class="flex row-span-1 items-center text-sm pl-6 space-x-2 rounded-full cursor-pointer hover:bg-[#e1e2e9]" [ngClass]="{
        'text-slate-900 font-semibold bg-[#d7e3f7]': selectedItem === 'apagar',
        'text-slate-600 font-normal': selectedItem !== 'apagar'
      }" (click)="selectItem('apagar')">
    <span class="material-symbols-outlined">stars</span>
    <div>Apagar Alarma</div>
  </div>


  <div class="flex row-span-1 border-b border-slate-300">
  </div>

  <div class="flex row-span-5 items-end justify-center">
    <div class="flex mt-4">
      <a mat-flat-button color="primary" routerLink="/login"
        class="!bg-[#36618e] w-48 text-white !text-xl !p-6 !font-light">
        Salir
      </a>
    </div>
  </div>

</div>
